.card-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #95dada;
  border: 1px solid grey;
  border-radius: 5px;
  padding: 25px;
  cursor: pointer;
  font-smooth: grayscale;
  backface-visibility: hidden;
  transform: translate(0);
  transition: tranform 0.25s easy-out;
}
.card-container:hover {
  transform: scale(1.05);
}

.image {
  height: 300px;
  width: 180px;
}
